/*********************************************************************/
/*******************        GENERAL STYLING         ******************/
/*********************************************************************/
html {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
}
  
body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
    font-size: 3vw;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

h1:hover {
    filter: grayscale(20%);
    transform: scale(1.05);
    transition: transform 1s;
}

.white-text {
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    letter-spacing: 0px;
    font-size: 18px;
    padding-right: 20px;
    padding-left:20px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

p:hover {
    filter: grayscale(20%);
    transform: scale(1.01);
    transition: transform 1s;
}

.center {
    text-align: center;
}

.center:hover {
    filter: grayscale(20%);
    transform: scale(1.01);
    transition: transform 1s;
}

a {
    color: rgb(18, 0, 184);
}

q {
    font-style: italic;
    font-weight: 100;
}


/*********************************************************************/
/*******************             IMG                ******************/
/*********************************************************************/
img {
    filter: grayscale(100%);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0, .5);
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    
}

@media screen and (max-width: 1000px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

.github-img img {
    filter: grayscale(0%);
    width: 20%;
    height: auto;
    
}

.github-img img:hover {
    filter: grayscale(0%);
    transition: transform 2s;
    transform: scale(1.03);
    box-shadow: 2px 2px 12px rgba(0,0,0, .5);
}

@media screen and (max-width: 1000px) {
    .github-img img {
        margin-top: 50px;
    }
}

/*********************************************************************/
/*******************          END OF IMG            ******************/
/*********************************************************************/

footer {
    padding: 2%;
    background-color: rgba(255,255,255,.6);
}

/*********************************************************************/
/*******************     END OF GENERAL STYLING     ******************/
/*********************************************************************/



/*********************************************************************/
/*******************            NAVBAR              ******************/
/*********************************************************************/

.NavBar {
    overflow: hidden;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    -webkit-animation: moveNav 3s;
    animation: moveNave 3s;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.NavBar a {
    float: left;
    display: block;
    /*border: solid white 1px;*/
    border-radius: 4px;
    color: white;
    background: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: Avant Garde, Helvetica; 
    font-size: 20px; 
    text-align: center; 
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 3s;
    animation: moveNavText 3s; 
}

@keyframes moveNavText {
    from {left: -40vw;}
    to {left: 0vw;}
}

/* Screens 600px and smaller will display navbar links equally distributed */
@media screen and (max-width: 600px) {
    .NavBar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

.NavBar a:hover {
    background-color: #f4f4f4; 
    color: black; 
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

/* Navbar home button */
.NavBar a.active { /* This targets the a element on the navbar with the "active" class */
    /*background-color: darkgray; COMMENTED OUT*/
}
/*********************************************************************/
/*******************        END OF NAVBAR           ******************/
/*********************************************************************/


/*********************************************************************/
/*******************        VIDEO STYLING           ******************/
/*********************************************************************/
/* Formatting for background video */
#bg_video {
    position: fixed; /* This fixes the video to the page */
    right: 0; /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0; /* This ensures no space between the bottom of the video and the bottom of the page */
    min-width: 100%; /* This ensures the video is displayed across the full width of the page */
    z-index: -1; /* This places the video behind the other elements on the page */
}

/* Screens that are 600px and smaller will not display the background video */
@media screen and (max-width: 600px) {
    #bg_video {
        /*display: none;*/
    }
}

.Video_Text {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 120px;
    background: rgba(0,0,0, .5);
    border-radius: 8px;
    color: white;
    width: 60%;
    padding: 50px;
    position: relative;
    -webkit-animation: moveVideoText 3s;
    animation: moveVideoText 3s;
}

@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;}
}

.Video_Text h1 {
    font-size: 3vw;
}

.Video_Text p {
    font-size: 2vw;
}
/*********************************************************************/
/*****                END OF VIDEO STYLING                       *****/
/*********************************************************************/



/*********************************************************************/
/*****          TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
/*********************************************************************/

* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
} 


.Column_1 {
    float: left;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding: 10px;
    padding-top: 3%; 
    height: 400px; 
    background-color: rgba(255,255,255,.5); 
}

/* Screens 600px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 600px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgba(82, 82, 82, 0.5); 
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/*********************************************************************/
/*****               END OF TABLE STYLING                        *****/
/*********************************************************************/



/*********************************************************************/
/*****                CONTACT FORM STYLING                       *****/
/*********************************************************************/

.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    border-radius: 8px;
    cursor: pointer;
    -webkit-animation: movePopup 3s;
    animation: movePopup 3s;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

.form-popup {
    border: 3px solid gray;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    max-width: 25vw;
    padding: 1vw;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

.center-buttons {
    text-align: center;
}


.form-container input[type="text"] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

button {
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: rgb(88, 88, 88);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.form-container .cancel {
    background-color: rgb(65, 5, 5);
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: rgb(165, 0, 0);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: black;
}



/*********************************************************************/
/*****               END OF CONTACT FORM STYLING                 *****/
/*********************************************************************/
