/*********************************************************************/
/*******************        GENERAL STYLING         ******************/
/*********************************************************************/
html {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
}
  
body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
    margin-top: 0;
    color: #1a1a1a;
    font-size: 3vw;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

h1:hover {
    filter: grayscale(20%);
    transform: scale(1.15);
    transition: transform 1s;
}

.white-text {
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    font-size: 16px;
    padding-right: 20px;
    padding-left:20px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

/*p:hover {
    filter: grayscale(20%);
    transform: scale(1.01);
    transition: transform 1s;
} I DON'T LIKE THE HOVER ON THE <p> ELEMENTS SO THEY ARE COMMENTED OUT*/


.center, .ghCenter {
    text-align: center;
}

.center:hover {
    filter: grayscale(20%);
    transform: scale(1.04);
    transition: transform 1s;
}

a {
    color: rgb(0, 64, 184);
}

a:hover {
    color: rgb(184, 83, 0);
}

q {
    font-style: italic;
    font-weight: 100;
}

.anchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    /*visibility: hidden;*/
}

/*********************************************************************/
/*******************             IMG                ******************/
/*********************************************************************/
img {
    filter: grayscale(60%);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0, .5);
    max-width: 100%;
    width: 30vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

img:hover {
    filter: grayscale(0%);
    box-shadow: 4px 4px 8px rgba(0,0,0, .5);
    transform: scale(1.02);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

@media screen and (max-width: 1000px) {
    img {
        height: auto;
        margin-top: 7vw;
    }
}

.github-img img {
    filter: grayscale(50%);
    width: 10vw;
    height: auto;
}

.github-img img:hover {
    filter: grayscale(0%);
    box-shadow: 4px 4px 8px rgba(0,0,0, .5);
    transform: scale(1.1);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

@media screen and (max-width: 1000px) {
    .github-img img {
        margin-top: 0px;
    }
}

/*********************************************************************/
/*******************          END OF IMG            ******************/
/*********************************************************************/

footer {
    padding: 2%;
    background-color: rgba(255,255,255,.6);
}

/*********************************************************************/
/*******************     END OF GENERAL STYLING     ******************/
/*********************************************************************/



/*********************************************************************/
/*******************            NAVBAR              ******************/
/*********************************************************************/

.NavBar {
    overflow: hidden;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    -webkit-animation: moveNav 3s;
    animation: moveNave 3s;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.NavBar a {
    float: left;
    display: block;
    cursor: pointer;
    /*border: solid white 1px;*/
    border-radius: 4px;
    color: white;
    background: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: Avant Garde, Helvetica; 
    font-size: 20px; 
    text-align: center; 
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 3s;
    animation: moveNavText 3s; 
}

@keyframes moveNavText {
    from {left: -40vw;}
    to {left: 0vw;}
}

/* Screens 600px and smaller will display navbar links equally distributed */
@media screen and (max-width: 600px) {
    .NavBar a{
        width: 20%; 
        font-size: 12px;
    }
}

.NavBar a:hover {
    background-color: #f4f4f4; 
    color: black; 
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

/* Navbar home button */
.NavBar a.active { /* This targets the a element on the navbar with the "active" class */
    /*background-color: darkgray; COMMENTED OUT*/
}
/*********************************************************************/
/*******************        END OF NAVBAR           ******************/
/*********************************************************************/


/*********************************************************************/
/*******************        VIDEO STYLING           ******************/
/*********************************************************************/
/* Formatting for background video */
#bg_video {
    position: fixed; /* This fixes the video to the page */
    right: 0; /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0; /* This ensures no space between the bottom of the video and the bottom of the page */
    min-width: 100%; /* This ensures the video is displayed across the full width of the page */
    z-index: -1; /* This places the video behind the other elements on the page */
}

/* Screens that are 600px and smaller will not display the background video */
@media screen and (max-width: 600px) {
    #bg_video {
        /*display: none;*/
    }
}

.Video_Text {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 120px;
    background: rgba(0,0,0, .5);
    border-radius: 8px;
    color: white;
    width: 60vw;
    padding: 50px;
    position: relative;
    -webkit-animation: moveVideoText 3s;
    animation: moveVideoText 3s;
}

@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;}
}

.Video_Text h1 {
    font-size: 3vw;
}

.Video_Text p {
    font-size: 2vw;
}
/*********************************************************************/
/*****                END OF VIDEO STYLING                       *****/
/*********************************************************************/



/***************************************************************************
                              TABLE STYLING
/*  this section covers the styling of the columns and rows within the table
****************************************************************************/

* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
} 


.Column_1 {
    float: left;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding: 20px;
    padding-top: 30px;
    height: 400px; 
    background-color: rgba(255,255,255,.5); 
}

/* Screens 1000px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 1000px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 20px;
    padding-top: 30px;
    height: 400px;
    background-color: rgba(82, 82, 82, 0.5); 
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/*********************************************************************/
/*****               END OF TABLE STYLING                        *****/
/*********************************************************************/


/*********************************************************************/
/*****                  SLIDESHOW STYLING                        *****/
/*********************************************************************/

#Slideshow_Background {
}

.mySlides {
    display: none;
}

.mySlides img {
    filter: grayscale(50%);
}

.mySlides img:hover {
    filter: grayscale(0%);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.75);
    transform: scale(1.0);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#Slideshow_Container {
    width: 35vw; /* Relative sizing of the container for the slidewshow */
    height: auto; /* The height of the container is automatically adjusted based on the content it is displaying */
    position: relative; /* This sets the container relative to its normal positioning */
    margin:auto; /* This will horizontally center the container on the page */
}


.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.76);
    width: 100%;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute; /* This makes the next and previous buttons positioned relative to the slideshow container */
    top: 0%; /* This moves the buttons up in the slideshow container */
    width: auto; /* The width of the buttons is automatically adjusted based on the content */
    padding: 1vw; /* Adds padding equal to 2% of the viewport width */
    color: rgb(255, 255, 255);
    background-color: rgba(80, 80, 80, 0.5);
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 8px 0 8px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* Positioning the next button on the right hand side */
.Next {
    right: 0; /* This moves the next button to the right side of the slideshow container */
    border-radius: 0 8px 0 8px; /* This changes the border radius on the next button to the top and bottom left of the button */
}

.Previous:hover, .Next:hover {
    background-color: rgba(80, 80, 80, 0.856); /* Makes the background of the arrows a transparent gray color */
    color: white; /* Makes the arrows white when hovered over */
}

.slideshow-text {
    color: white; 
    padding: 1vw;
    position: absolute; /* This ensures the text is positioned within the image */
    bottom: 0; /* This property sets the text at the bottom of the image */
    width: 100%; /* The element covers the full width of the image */
    text-align: center; /* The text is center aligned within the image */
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: .1vw; /* This gives slight spacing between the letters */
    font-size: 1vw; /* Font size is relative to the size of the viewport width */
    background-color: rgba(0, 0, 0, 0.75); /* Gives a slightly transparent black background */
    border-radius: 0px 0px 7px 7px; /* Gives the text background rounded corners on the bottom left and right corners */
}


.dot {
    cursor: pointer; 
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    margin-top: .8vw;
    background-color: white; 
    border-radius: 50%;
    display: inline-block; 
    transition: background-color 0.6s ease; 
    z-index: 5;
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: rgb(95, 95, 95); /* Sets the color of the dots when active or hovered over */
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade; /* Fade animation is defined below */
    animation-duration: 1.5s; /* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade; /* Same as above for Safari 4.0-8.0 */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}



/*********************************************************************/
/*****                END OF SLIDESHOW STYLING                   *****/
/*********************************************************************/


/*********************************************************************/
/*****                CONTACT FORM STYLING                       *****/
/*********************************************************************/

.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    border-radius: 8px;
    cursor: pointer;
    -webkit-animation: movePopup 3s;
    animation: movePopup 3s;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

.form-popup {
    border: 3px solid gray;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    max-width: 25vw;
    padding: 1vw;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

.center-buttons {
    text-align: center;
}


.form-container input[type="text"] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

button {
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: rgb(88, 88, 88);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: black;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.form-container .cancel {
    background-color: rgb(65, 5, 5);
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: rgb(165, 0, 0);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: black;
}

.button2 {
    display: float;
    letter-spacing: 0vw;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw;
    cursor: pointer;
    width: 30%;
    height: auto;
    border-radius: 8px;
    border-color: black;
    margin: 1vw;
    box-shadow: 2px 2px 4px rgba(0,0,0, .5);
}

.button2:hover {
    border-color: black;
}

@media screen and (max-width: 1200px) {
    .button2 {
        font-size: 1.5vw;
        width: 40%;
        border-radius: 4px;
    }
    .button2 a {
        text-decoration: none;
    }
}
/*********************************************************************/
/*****               END OF CONTACT FORM STYLING                 *****/
/*********************************************************************/
