:root {
    --yellow: rgb(156, 141, 0);
    --wrong: rgb(163, 163, 163);
}

body {
    text-align: center;
    background-color: rgb(24, 24, 24);
    top: 0;
}


h1 { 
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(163, 163, 163);
    font-size: 3em;
    line-height: 0;
    /* margin-top: 15%; */
}

h2 {
    line-height: 0;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

#howToPlay {
    padding-bottom: 8px;
}


.main {
    margin: auto;
    width: fit-content;
    height: 100%; 
    overflow: hidden;
    background-image: url('./images/turtleblank.png');
    background-size: 360px 400px;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}


.qMark {
    color:rgb(124, 124, 124);
    font-size: 1.8em;
    position: absolute;
    top: .7em;
    left: .6em;
    cursor: pointer;
}

.directions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    width: fit-content;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: rgb(54, 54, 54);
    z-index: 10;
    display: none;
    overflow-wrap: break-word;
    border-radius: 4px;
    opacity: 0;
}

.directionImg {
    height: 60px;
    width: auto;
}


.squares {
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(24, 24, 24, 0.8);
    padding: 1vw;
    width: fit-content;
    position: relative;
}

.square  {
    float: left;
    margin: 2px;
    padding: 0vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(163, 163, 163);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 2.5em;
    text-align: center;
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center;
    width: 4rem;
    height: 4rem;
}

/* ===================  ANIMATIONS ===================*/

@keyframes rightSpot {
    from {background-color: rgb(37, 37, 37);}
    to {background-color: green;}
}

@keyframes rightLetter {
    from {background-color: rgb(37, 37, 37);}
    to {background-color: var(--yellow)}
}

@keyframes wrongLetter {
    from {background-color: rgb(37, 37, 37);}
    to {background-color: var(--wrong);}
}

@keyframes rightSpotKeyboard {
    from {background-color: rgb(129, 129, 129);}
    to {background-color: green;}
}

@keyframes rightLetterKeyboard {
    from {background-color: rgb(129, 129, 129);}
    to {background-color: var(--yellow);}
}

@keyframes wrongLetterKeyboard {
    from {color: white;}
    to {color: var(--wrong);}
}


@media only screen and (max-width: 600px) {
    .square {
    }

    .square .main {
        width: 100%;
    }
    
}

.keyboard { 
    margin: auto;
    margin-top: 0px;
    text-align: center; 
    width: 100%;
}

table { text-align: center;}

.keyboardTable {
    margin: auto;
    margin-top: 0px;
    width: fit-content;
}


.keyBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: var(--wrong);
    width: 2rem;
    height: 2.5rem; 
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
}

.backspace { width: 3rem;}

.keyBtn:hover {
    background-color: rgb(88, 88, 88);
}

#guessBtn {
    font-size: .7em;
    padding: 0px 10px;
    border-style: none;
    background-color: inherit;
    color: white;
}

.Btn {
    width: 140px;
    height: 40px;
    background-color: var(--wrong);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-style: none;
    border-color: rgb(189,189,189);
    margin-bottom: 20px;
    font-size: 1.2em;
    font-style: italic;
    border-radius: 3px;
    box-shadow: 2px 2px 8px black;
}

.Btn:hover {
    background-color: rgb(92, 92, 92);
    color:rgb(255, 255, 255);
    border-style: none;
    border-color: rgb(168, 168, 168);
}

.closeDirections {
    width: 100px;
    margin-top: 1em;
}

.BtnNewGame {
    background-color: white;
    color: black;
}


.gameOver {
    /* opacity: 0;
    visibility: hidden; */
    display: none;
    margin: auto;
    width: 97%;
    height: fit-content;
    background-color: green;
    color: white;
    border-radius: 4px;
}

#showWord, #gameOverMsg {
    font-family: 'Permanent Marker', cursive;
    color: white;
}